<!DOCTYPE html>
<html lang="en" ng-app="notesApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Notes App</title>
</head>

<body ng-controller="MainCtrl as ctrl">

  <form ng-submit="ctrl.submit()" name="myForm">
    <input type="text" name="uname" ng-model="ctrl.user.username" required ng-minlength="4" />
    <span ng-show="myForm.uname.$error.required">This is a required field</span>
    <span ng-show="myForm.uname.$error.minlength">Minimum length required is 4</span>
    <span ng-show="myForm.uname.$invalid">This field is invalid</span>
    <input type="password" name="pwd" ng-model="ctrl.user.password" required />
    <span ng-show="myForm.pwd.$error.required">This is a required field</span>
    <button ng-click="ctrl.submit()" ng-disabled="myForm.$invalid">Submit</button>
  </form>

  <script src="angular.js"></script>
  <script>
    angular.module('notesApp', ['ngMessages'])
      .controller('MainCtrl', [function () {
        var self = this;
        self.submit = function() {
          console.log('User clicked submit with ', self.user);
        };
        // self.notes = [
        //   {id: 1, label: 'First Note', done: false, assignee: 'Bubba'},
        //   {id: 2, label: 'Second Note', done: false},
        //   {id: 3, label: 'Done Note', done: true},
        //   {id: 4, label: 'Last Note', done: false, assignee: 'Snowy'}
        // ];
      }]);
  </script>
</body>

</html>