<div class="login-container" ng-controller="LoginCtrl as loginCtrl">
  <div class="alert alert-danger" ng-bind="loginCtrl.errorMessage" ng-show="loginCtrl.errorMessage"></div>
  <div class="card login-card">
    <div class="login-form">
      <form class="form-horizontal" name="loginForm" ng-submit="loginCtrl.login()" role="form">
        <div class="form-group">
          <label for="email">Username</label>
          <input type="text" class="form-control" ng-model="loginCtrl.user.username" id="email" placeholder="Enter Username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" ng-model="loginCtrl.user.password" id="password" placeholder="Enter Password" required>
        </div>
        <input type="submit" class="btn btn-success btn-lg" value="Login" ng-disabled="loginForm.$invalid">
      </form>
    </div>
  </div>
</div>